name: Deploying Static File to S3 
on: push 
jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code from repository 
        uses: actions/checkout@v6.0.2
      - name: Configure AWS Credentials 
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_KEY_ID}}
          aws-region: us-east-1

